*{
    padding: 0;
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
}
body{
    background-color: #f0f4f5;

}
nav{
    display: flex;
}
.logo{
    width: 50%;
    padding: 1rem 6rem;
    padding-left: 10rem;
}
.navbar{
    width: 50%;
    padding: 2rem 8rem;
}
ul{
    text-align: end;
}
a{
    text-decoration: none;
}
li{
    display: inline;
    margin: 0rem 1rem;
    color: black;
    font-weight: 600;
}
main{
    display: flex;
    height: 84vh;
    margin-left: 10%;
}
.text{
    width: 65%;
    background-image: url("../assets/stethoscope.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 80%;
}
.text .topangle{
    margin-left: 5%;
    margin-top: 18%;
}
.text .heading{
    width: 70%;
    font-weight: 800;
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 3.5em;
}
.text .para{
    width: 83%;
    font-weight: 600;
    color: grey;
    margin-left: 5%;
    margin-top: 1%;
}
.text .bottomangle{
    margin-left: 80%;
}

.text button{
    border: none;
    margin-left: 1em;
    background-color: #00A572;
    color: white;
    padding :0.5em 2em;
    font-size: 1.2em;
    border-radius: 30px;
    bottom: 10px;
}
.text .mouse{
    float: right;
    margin-right: 5em;
}
.image {
    width: 35%;
    background-image: url("../assets/doctor.png") , url("../assets/greenBox.png") , url("../assets/yellowBox.png"); 
    background-size: 100% , 87% ,68%;
    background-repeat: no-repeat;
    background-position-x: right , 75% , 100%;
    background-position-y:center , 80% , 90%;
} 

/* ********************************* ABOUT PAGE CSS *********************************** */
.container{
    width: 50%;
    height: 50vh;
    margin: 0 23em;
    margin-top: 10em;
}
.container h3{
    color: #00A572;
    padding: 1em 0em;
    padding-left: 6.5em;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 900
}
.container-p{
    width: 80%;
    font-size: 14px;
    margin-left: 4em;
    text-align: center;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
.display{
    display: flex;
}
.Doctors , .Customers ,.Students{
    width: 10em;
    margin-top: 3em;
    margin-left:3em;
    padding: 1em 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 7px 7px grey;
}
h2{
    color: #00A572;
    font-size: 22px;
}
.Doctors , .Customers ,.Students p{
    font-weight: 600;
}
/* **********************************Contact page css ****************************** */
.contact-container{
    width: 20%;
    height: 50vh;
    margin: 0 35em;
    margin-top: 8em;
    border-radius: 5px;
    box-shadow: 2px 2px 7px 7px grey;
}
.contact-container h3{
    font-weight: 900;
    font-size: 25px;
    margin: 0.5em 0;
    margin-left: 2em;
    font-family: 'Lato', sans-serif;
}
.contact-container label{
    margin: 1em ;
    font-weight: 600;
}
.contact-container input{
    margin-left: 1em;
    width: 85%;
    border: none;
    height: 2em;
    border-radius: 6px;
    padding-left: 0.5em;
}
#name, #email{
   margin-bottom: 1em;
}
#msg{
    padding-bottom: 3em;
}
.contact-container button{
    margin-left: 1em;
    margin-top: 1em;
    padding: 0.5em 3em;
    width: 85%;
    background-color: #00A572;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 6px;

}